@media(min-width:768px) {

    #header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }
	
    #header .intro-text .name {
        font-size: 4.85em;
    }
	#header .intro-text{
		padding-top:5%;
	}
	
    #header .intro-text .hello {
        font-size: 1.75em;
    }
    /*Navigation*/
    .nav-button{
    display:none;
    }
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
    .nav-row{
        text-align:center;
    }
     #portfolio .portfolio-item {
        margin: 0 0 30px;
    }

}


/*@media(min-width:768px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}*/
/*moblie side view*/
@media(max-height:600px){
    #header{
        /*height:600px; */
       height: 480px;
    }
}

/*mobile nav-toggle*/
@media(max-width:767px) {
    .nav-row{
        display:none;
        background-color:#18bc9c;
        margin-top:15px;
    }
    .selected{
        display:block;
    }
    .navbar-fixed-top{
        padding:0px;
    }
    .nav-button{
    display:block;
    margin-top:15px;
    margin-left: 10px;
    }
    #nav-toggle { position: absolute;}

    #nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
    
    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: white;
        position: absolute;
        display: block;
        content: '';
    }
    #nav-toggle span:before {
        top: -10px; 
    }
    #nav-toggle span:after {
        bottom: -10px;
    }

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        transition: all 500ms ease-in-out;
    }
    #nav-toggle.active span {
        background-color: transparent;
    }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
        top: 0;
    }
    #nav-toggle.active span:before {
        transform: rotate(45deg);
    }
    #nav-toggle.active span:after {
        transform: rotate(-45deg);
    }

    /*header*/
   .intro-text {
       /* margin-top: 50%;*/
      margin-top: 131px;
    }
    .intro-text .name{
        font-size:3em;
    }
    section.first {
        padding-top: 75px;
    }
    section.success{
        margin-top:25%;
        font-size: 1em;
        height: initial;
        text-align: -webkit-center;
    }
    /*skill*/
    .skill-row{
        font-size: 13px;
        padding: 0; 
    }
    .skill-row li{
        width: 258px; 
    }
    /*portfolio*/
    #portfolio{
    height:auto;    
    /*margin-top: 25%;*/
    }
    /*work*/
    .work-contain {
      height:500px;
     margin: 3% auto;
    }
    .carousel p{
          font-size: 1.2em;
          margin-top: 15%;
    }
   
    /*contact*/
    #contact{
       height:auto; 
    }
    .contact-icon{
     height: 280px;
    }
    .contain-icon{
        margin-top:20px;
    }
}
/*@media(min-width:1025px){
#portfolio{
    height:340px; 
}

}*/