@font-face {
  font-family: 'LeagueGothic';
  font-weight: 100;
  src: url('../assets/font/LeagueGothic-Regular.otf');
}
body {
  margin: 0;
  font-family: 'LeagueGothic',Arial, Helvetica Neue, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color:#caf0f8;
  background-color:#0077b6;
}
html,body,#root{
  width: 100%;
  height:100%;
}
.bg-w{
  background-color: #fff;
}
.bg-w2{
  background-color: #caf0f8;
}
.b-color{
  color:#0077b6;
}
.btn{
  display: block;
  background-color: transparent;
  border: 0;
  outline: none;
  color:inherit;
  font-size: 40px;
  position: relative;
  &.morework{
    margin:50px auto;
    width:100%;
    max-width: 750px;
    border-radius: 25px;
    color:#0077b6;
    background-color: #fff;
    padding: 10px 20px;
  }
  span{
    margin-left: 10px;
  }
  &:after{
    content:"";
    display: block;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: width 0.5s linear;
    background-color: #fff;
  }
  &.backPage{
    margin-top: 30px;
    &:hover{
      &:after{
        content:"";
        display: block;
        width: 100%;
      }
    }
  }
}
.container{
  width: 100%;
  min-height: 100%;
  @media (max-width:768px) {
    padding-top: 50px;
  }
}
.text-center{
  text-align: center;
}
.title{
  width: 100%;
  font-size: 3vw;
  margin:20px auto;
  &.borderBottom{
    padding-bottom: 5px;
    border-bottom: 5px solid #fff;
    text-indent: 10px;
  }
  &.bold{
    font-weight: bolder;
  }
  @media (max-width:768px) {
    font-size: 45px;
  }

}
.logo{
  position: fixed;
  z-index: -1;
  left:0;
  top:0;
}
.flexContent{
  display: flex;
  &.startItem{
    align-items: flex-start;
  }
  align-items: center;
  img{
    width: 100%;
  }
  &.center{
    justify-content: center;
  }
  &.column{
    flex-direction: column;
  }
  &.space-between{
    justify-content: space-between;
  }
  .InfoBox,.halfBox{
    font-size: 40px;
    box-sizing: border-box;
  }
  .halfBox{
    width:50%;
  }
  .InfoBox{
    p{
      margin-bottom: 10px;
    }
    img{
      border-radius: 25%;
      max-width: 50%;
      min-width: 300px;
    }
  }
  @media (max-width:768px) {
    .halfBox{
      width:100%;
    }
    .InfoBox{
      img{
        max-width: 500px;
      }
    }
  }
}
$pSide:98px;
.maxWidthContainer{
  max-width: 1440px;
  width:100%;
  margin:auto;
  &.pTop50{
    padding-top: 50px;
  }
  &.pSide98{
    padding-left: 98px;
    padding-right: 98px;
  }
  &.flex{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
     &.justifyCenter{
      justify-content: center;
     }
     &.alignCenter{
      align-items: center;
     }
     &.column{
      flex-direction: column;
     }
     h1{
      font-size: 200px;
      font-size: min(max(12.5vw,100px),200px);
      //font-size: 8vw;
      padding: 0 16.5px;
     }
     h2{
      font-size: 100px;
     }
     
  }
  @media (max-width:768px){
    &.flex{
      height: auto;
    }
    &.pSide98{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
 
}
//contact
.contactContent{
  margin-top: 50px;
  padding: 50px 0 25px;
  .mainTitle{
    font-size: min(max(12.5vw, 80px), 200px);
  }
  .email{
    font-size: min(max(12.5vw, 40px), 100px);
  }
  .contactList{
    padding:50px auto;
    font-size: 40px;
    margin: 20px auto;
    li{
      &:first-child{
        margin-bottom: 30px;
      }
      margin-bottom: 10px;
    }
    span{
      display: inline-block;
      margin-left: 10px;
    }
  }
}
