@font-face {
  font-family: 'LeagueGothic';
  src: url('../assets/font/LeagueGothic-Regular.otf');
}
body {
  margin: 0;
  font-family: LeagueGothic,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color:#caf0f8;
  background-color:#0077b6;
}
html,body,#root{
  width: 100%;
  height:100%;
}

.container{
  width: 100%;
  min-height: 100%;
  padding-top: 105px;
}
.text-center{
  text-align: center;
}
.title{
  width: 100%;
  font-size: 3vw;
  margin:20px auto;
  &.bold{
    font-weight: bolder;
  }
}
.logo{
  position: fixed;
  z-index: -1;
  left:0;
  top:0;
}
.flexContent{
  display: flex;
  align-items: center;
  img{
    width: 100%;
  }
  &.center{
    justify-content: center;
  }
  &.column{
    flex-direction: column;
  }
  &.space-between{
    justify-content: space-between;
  }
  .halfBox{
    width:50%;
    box-sizing: border-box;
  }
}
.InfoBox{
  img{
    border-radius: 25%;
    max-width: 50%;
  }
}
.maxWidthContainer{
  max-width: 1440px;
  width:100%;
  margin:auto;
  padding: 0 100px;
  &.flex{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
     &.justifyCenter{
      justify-content: center;
     }
     &.alignCenter{
      align-items: center;
     }
     &.column{
      flex-direction: column;
     }
     h1{
      font-size: 12.5rem;
     }
     h2{
      font-size: large;
     }
     
  }
  @media (max-width:768px){
    .flex{
      height: auto;
    }
    padding: 0 50;
  }
 
}
